$container: 600px;
$containerSM: 90%;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
